h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  img{
    height: 50%;
    width: 75%;
    padding-top: 1rem;
    padding-bottom: 1rem;

  }
  .image-container{
    display: flex;
    justify-content: center;
  }
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }
.main-container{
  background-color: white;
}