h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  .error-code {
    color: rgb(139, 0, 0); /* Only error status text will appear in red */
    font-weight: 400;
  }
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }