<app-header></app-header>
<div class="change-password-container">
  <div class="change-card">
    <img class="img" src="assets/images/change_password.png">
    <span class="heading">Change Password</span>
    <p class="subtitle">Ensure your account is secure by updating your password</p>
    <form (ngSubmit)="submit()" #changePasswordForm="ngForm" class="change-form">

      <mat-form-field appearance="outline" class="full-width">
        <input matInput [(ngModel)]="email" name="email" readonly>
      </mat-form-field>
      <div class="full-width">
      <mat-form-field appearance="outline" >
        <input matInput placeholder="Enter Old Password" [(ngModel)]="oldPassword" name="oldPassword"
               [type]="hideOld ? 'password' : 'text'" required #oldPass="ngModel">
        <button mat-icon-button class="visible_btn" matSuffix (click)="hideOld = !hideOld" type="button">
          <mat-icon svgIcon="{{ hideOld ? 'visibilityoff' : 'visibility' }}"></mat-icon>
        </button>
              </mat-form-field>
        <span class="custom-error" *ngIf="oldPass.invalid && oldPass.touched">Old password is required</span>
        </div>
      <mat-divider class="section-divider"></mat-divider>
        <div class="full-width">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Enter New Password" [(ngModel)]="newPassword" name="newPassword"
               [type]="hideNew ? 'password' : 'text'" required [pattern]="passwordPattern.source"
               #newPass="ngModel">
        <button mat-icon-button matSuffix class="visible_btn" (click)="hideNew = !hideNew" type="button">
          <mat-icon svgIcon="{{ hideNew ? 'visibilityoff' : 'visibility' }}"></mat-icon>
        </button>
        </mat-form-field>
        <div class="error-container" *ngIf="newPass.invalid && newPass.touched">
          <span class="custom-error">Invalid password</span>
          <mat-icon
            class="info-icon"
  [matTooltip]="tooltipText"
            matTooltipPosition="right"  svgIcon="infoempty"
            matTooltipClass="custom-password-tooltip"
            ></mat-icon
          >
        </div>

        </div>

        <div  class="full-width">
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="confirmPassword" placeholder="Re-enter New Password"
               name="confirmPassword" [type]="hideConfirm ? 'password' : 'text'" required
               #confirmPass="ngModel">
        <button mat-icon-button matSuffix class="visible_btn" (click)="hideConfirm = !hideConfirm" type="button">
          <mat-icon svgIcon="{{ hideConfirm ? 'visibilityoff' : 'visibility' }}"></mat-icon>
        </button>
              </mat-form-field>
        <span class="custom-error" *ngIf="confirmPass.touched && confirmPassword !== newPassword">
          Passwords do not match
        </span>
        </div>
      <button class="primary-btn" type="submit" [disabled]="!changePasswordForm.valid || confirmPassword !== newPassword">
        Change Password
      </button>
      <a class="back-link" (click)="backToLogin()">&#60; Back to Login</a>
    </form>
  </div>
</div>
