@import 'src/scss/_base.scss';

.change-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;

  .change-card {
    position: relative;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $c-default-bg;
    overflow: visible;
    height: 70%;
    border-radius: 16px;
    animation: fadeIn 0.5s ease-in-out;

    .img {
      position: absolute;
      top: -3.125rem;
      left: 50%;
      transform: translateX(-50%);
      height: 6.25rem;
      width: 6.25rem;
      background: $c-default-bg;
      z-index: 10;
    }

    .heading {
      font-weight: 600;
      font-size: 1.8rem;
      margin-top: 3rem;
      color: $c-default-text;
      text-align: center;
    }

    .subtitle {
      text-align: center;
      color: $c-placeholder;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }

    .section-divider {
      width: 80%;
      border-color: $c-border;
    }

    .change-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;
      align-items: center;
    }

    .full-width {
      --mdc-outlined-text-field-container-shape: 12px;
      width: 80%;
      border: none;
      height: 3rem;
      background-color: $c-default-bg;
      display: flex;
      flex-direction: column;
    }

    .visible_btn {
      display: flex;
      border: none;
      background: none;
    }
  }

  .back-link {
    display: block;
    text-align: center;
    color: $c-link;
    text-decoration: none;
    font-size: 0.95rem;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $c-link-hover;
    }
  }
}

.custom-error {
  color: $c-error;
  font-size: 0.8125rem;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  width: auto;
}

.error-container {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  flex-direction: row;

  .info-icon {
    font-size: 0.8125rem;
    cursor: pointer;
    color: $c-error;
    height: 1.2rem;
    margin-top: -0.2rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-0.625rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
