.title {
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 0px 24px;
}
.para {
    font-family: 'Poppins', 'Roboto', sans-serif;
    padding: 0px 24px;
  }
.btn-option{
  display: flex;
  justify-content: end;
  padding: 20px;
  gap: 10px;
}