mat-dialog-title {
    font-family: 'Poppins', 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
p {
    font-family: 'Poppins', 'Roboto', sans-serif;
  }
mat-dialog-actions{
    gap:0.5rem;
    margin-top: 10px;
}