:host ::ng-deep app-table table tbody tr:hover {
    background-color: #dedede;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.download-icon{
    display: inline-block;
    vertical-align: middle;
    height: 1.2rem;
    width: 1.2rem
}
.button-group{
    display: flex;
    gap: 0.5rem
}