<div class="app-page">
    <div class="page-header">
        <span class="page-title">Parts</span>
        <span class="button-group">
            <button class="primary-btn" (click)="createPart()">Create</button>
            <button class="primary-btn" (click)="downloadExcel()">
                <mat-icon class="download-icon" svgIcon="download" ></mat-icon>
                Download
            </button>
        </span>
    </div>
    <div class="page-content" style="overflow: hidden;">
        <div class="card-nc">
            <app-table
            [data]="paginatedData" 
            [config]="columns"
            (actionTriggered)="handleAction($event)"
            (rowClicked)="onRowClicked($event)"
            (filterChanged)="applyFilter($event)"
            [showFilter]="true">
        </app-table>
        <mat-paginator 
        [length]="totalRecords" 
        [pageSize]="pageSize" 
        (page)="onPageChange($event)">
      </mat-paginator>
        </div>
    </div>
</div>
