@import "src/scss/_base.scss";

.title {
  border-radius: $base-discard-header-radius;
  background: $c-dialog-header-bg;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0rem;
  margin-top: 0;
  color: $c-default-bg;
}
.visible_btn {
  display: flex;
  border: none;
  background: none;
}
.form-field {
  margin: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}
.custom-textfield {
    border-radius: 12px;
    padding-top: 8px;
}

.input-field {
  font-size: 1rem;
}

.error {
  color: red;
  font-size: 0.7rem;
    margin-top: .15rem;
  height: .75rem;
}
.guidelines {
  font-size: 0.875rem;
  margin: 0.5rem 1.5rem;
  background-color: rgb(222, 222, 222);
  padding: 1rem;
  border-radius: 12px;
}

.btn-group {
  display: flex;
  justify-content: end;
  padding: 1rem;
  gap: 0.5rem;
}
