<h2 class="title">Delete Vendor</h2>

<div>
  <p class="para">This Vendor provides these items:</p>
</div>

<!-- Table Container with Custom Styling -->
<div class="app-table">
  <app-table 
  [data]="dataSource.data" 
  [config]="columns">
</app-table>
</div>


<!-- Paginator -->
<mat-paginator [pageSize]="10" [pageSizeOptions]="[10,20,30]"></mat-paginator>


  <p class="para">Are you sure you want to delete this Vendor?</p>

<div class="btn-choice" align="end">
  <button class="secondary-btn" (click)="closeDialog(DialogCloseResponse.NO_ACTION)">No</button>
  <button color="warn" (click)="closeDialog(DialogCloseResponse.DELETE)" class="primary-btn">Yes</button>
</div>
