.app-table{
  height: 350px;
  padding: 10px;
  margin-top: 0.7rem;
  // position: relative;
  // z-index: 1;
}
.title{
  padding: 0px 24px;
  margin-bottom: 0px;
}
.btn-choice{
  display: flex;
  justify-content: end;
  padding: 10px;
  gap: 10px;

}
.para{
  font-family: 'Poppins', sans-serif;
  padding: 0px 24px;
  margin-bottom: 0px;
}

