.part-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    width: 100%;
    align-items: center;
}
.part-form > div {
    display: flex;
    flex-direction: column;
}
  mat-form-field {
    padding-top: 8px;
}
.custom-textfield {
    --mdc-outlined-text-field-container-shape: 12px; /* Example for rounded corners */
}
.sub-heading {
    font-weight: bold;
    margin-bottom: 1rem;
}

.vendor-panel-content {
    padding-top: 1rem;
}


.part-form-container {
    .action-section {
        position: absolute;
    }
}


.history-btn {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .history-btn:hover {
    color: #f44336;
  }

mat-panel-description{
    justify-content: right;
}

.button{
    display: flex;
    justify-content: flex-end;
}

.bom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}