@import "src/scss/_base.scss";
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $c-white-color;
    box-shadow: $box-shadow;
    height: 2rem;
    padding: 1rem;
    border-bottom: 1px solid $c-border-color;
    position: relative;

    .app-logo, .app-title {
        font-size: 1.25rem;
        font-weight: bold;
        color: $c-black-color;
    }
    .app-info{
        color: $c-black-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-icon{
        height: 2rem;
        width: 2rem;
        padding: 10px;
    }
}