@import "src/scss/_base.scss";
mat-dialog-actions{
    gap:10px;
    position: sticky;
    bottom:0;
    justify-content: flex-end;
}

.bom-table th{
        position: sticky;
        top: 0; 
        background-color: #f9f9f9; 
        z-index: 1;
      }

      
      mat-paginator {
        margin-top: 10px;
        padding-top: 10px;
        background: $c-white-color;
        position: sticky;
      }


      .dialog-box{
        height:600px;
        overflow: hidden;
        display: flex;
  flex-direction: column;
      }
     
      .sort-btn {
        display: inline-block;
        vertical-align: middle;
        width: 1.5rem;
        height: 1.5rem;
        min-width: 1.5rem;
        padding: 0;
        margin-left: 4px;
        background: transparent;
        border: none;
      }
      
      .sort-btn .sort-icon {
        height: 100%;
        font-size: 16px;
        cursor: pointer;
        color: $c-black-color;
        transition: color 0.2s;
      }

      .filter-row input[matInput] {
        width: 60%;
        padding: 5px 5px;
        font-size: 12px;
        border: 1px solid $c-black-color;
        border-radius: 10px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        background-color: $c-white-color;
      }
      
      
      .filter-row input[matInput]:hover {
        border-color: $c-black-color;
      }
      
      
      .filter-row input[matInput]:focus {
        border-color: #95D2B3;
        box-shadow: 0 0 7px rgba(0, 204, 170, 0.4);
        background-color: $c-white-color;
        outline: none;
      }
      
      .filter-row input[matInput]::placeholder {
        color: $c-placeholder-color;
        opacity: 0.8;
      }
      
      .filter-input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
      }
      
      .filter-input-wrapper input[matInput] {
        width: 60%;
        padding-right: 1.85rem; /* leave space for the clear button */
      }   
