
.bom-table th:first-child {
  border-top-left-radius: 12px;
}

.bom-table th:last-child {
  border-top-right-radius: 12px;
}

.bom-header{
  font-size: larger;
}


mat-dialog-actions{
    gap:10px;
    position: sticky;
    bottom:0;
    justify-content: flex-end;
}

.header-det{
display: flex;
}

.bom-table .mat-mdc-cell,
.bom-table .mat-mdc-header-cell {
  border-bottom: 1px solid #d1d5d8;
}

.bom-table .mdc-data-table__cell{
  font-size: 1rem;
}



.bom-table th{
        position: sticky;
        top: 0; 
        background-color: #C8D9E6; 
        z-index: 1;
        align-items: center; 
        justify-content: space-between;
        padding: 12px 16px;
        font-size: 1rem;
      }
      
      mat-paginator {
        margin-top: 10px;
        padding-top: 10px;
        background: white;
        position: sticky;
      }


      .dialog-box{
        height:600px;
        overflow: hidden;
        display: flex;
  flex-direction: column;
      }
     
/* Sort button alignment */
.sort-btn {
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  width: 1.5;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 4px;
}

.sort-btn .sort-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: #000;
  transition: color 0.2s;
}

.filter-row {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.filter-row input[matInput] {
  width: 85%; /* Makes input fields consistent */
  padding: 6px 8px;
  font-size: 1rem;
  border: 1px solid #00000055;
  border-radius: 8px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}
      
      
      .filter-row input[matInput]:focus {
        border-color: #2F4156;
        background-color: #fff;
        outline: none;
      }
      
      .filter-row input[matInput]::placeholder {
        color: #888;
        opacity: 0.8;
      }
      
      .filter-input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
      }
      
      .filter-input-wrapper input[matInput] {
        width: 60%;
        padding-right: 30px; /* leave space for the clear button */
      }   
