<div class="dialog-box">
<h2 class="bom-header" mat-dialog-title>Select Parts</h2>
<mat-dialog-content>
  <table mat-table  [dataSource]="partList" class="bom-table">
    <!-- Select Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="selectAll($event)" [checked]="isAllSelected()" [indeterminate]="isIndeterminate()"></mat-checkbox> 
      </th>
      <td mat-cell *matCellDef="let part">
        <mat-checkbox 
          [checked]="checkIfSelected(part)" 
          (change)="togglePartSelection(part, $event)">
        </mat-checkbox>
      </td>
    </ng-container>
    
    <!-- Part Name Column -->

    <ng-container matColumnDef="partName">
      <th mat-header-cell *matHeaderCellDef (click)="toggleSort('partName')">
        <div class="header-det">Part Name
        <mat-icon [svgIcon]="getSortIcon('partName')" class="sort-icon"></mat-icon></div>
        <div class="filter-row">
          <div class="filter-input-wrapper">
            <input matInput [(ngModel)]="searchTermName" (input)="applyFilter()" placeholder="Search Name">
          </div>
        </div>
        
      </th>
     
<td mat-cell *matCellDef="let part">{{ part.partName }}</td>
    </ng-container>

    <!-- Part Number Column -->
    <ng-container matColumnDef="partNumber">
      <th mat-header-cell *matHeaderCellDef (click)="toggleSort('partNumber')">
        <div class="header-det">Part Number
          <mat-icon [svgIcon]="getSortIcon('partNumber')" class="sort-icon"></mat-icon></div>
         <div class="filter-row">
          <div class="filter-input-wrapper">
            <input matInput [(ngModel)]="searchTermNumber" (input)="applyFilter()" placeholder="Search Number">
          </div> </div>
          </th>
  <td mat-cell *matCellDef="let part">{{ part.partNumber }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-dialog-content>
  <mat-paginator 
  [length]="totalRecords" 
  [pageSize]="pageSize" 
  (page)="onPageChange($event)">
</mat-paginator>
<mat-dialog-actions>
  <button class="primary-btn" (click)="closeDialog()">Cancel</button>
  <button class="primary-btn" (click)="confirmSelection()">Select Parts</button>
</mat-dialog-actions>
</div>