.table-container {
    max-height: 480px; /* Set a maximum height for the table container */
    overflow-y: auto; /* Enable vertical scrolling */
  }
.app-table {
    width: 100%;
    border-radius: 12px;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
    border:none;    
    background: white;

    thead {
        position: sticky;
        top: 0; 
        background-color: #f9f9f9; 
        z-index: 1;
      }
    
    .header-row {
        background-color: grey;
        border-radius: 12px 12px 0 0;
        th:first-child {
            border-radius: 12px 0 0 0;
        }
        th:last-child {
            border-radius: 0 12px 0 0;
        }
    }
    th,td {
        text-align: left;
        padding: 1rem;
    }

    td {
        border-bottom: 1px solid grey;
    }

}

.edit-btn {            
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .edit-btn:hover {
    color: #95D2B3
  }
  
  .delete-btn {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .delete-btn:hover {
    color: #f44336;
  }

  .icon-wrapper {
    margin-right: 0.5rem; /* Space between icons */
  }
  
  