@import 'src/scss/_base.scss';
.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(235, 239, 250), $c-login-bg);
}

.login-body{
    display:flex ;
    flex-direction: row;
    height: 82vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    .login-form {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .form-text{
             box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
            height: 55px;
            width: 70%;
            border: none;
            background-color: $c-default-bg;
        }
        .login-btn {
            width: 70%;
            align-items: center;
            justify-content: center;
            padding: 0.6rem 1.6rem;
            font-weight: bold;
            cursor: pointer;
            font-size: medium;
            border-radius: 10px;
            min-width: 5rem;
            background-color:$c-login-btn;
            color: $c-default-bg;
            border: none;
            &:hover {
                background-color: darken($c-login-btn , 10%);
            }
        }
        .contact-us{
            margin-top: 10px;
            font-size: 14px;
            margin-left: 70px;
        }
    }

    .login-image{
        display: flex;
        width:60%;
        height:80%; 
        justify-content: center;
    }
}

.forgot-password {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.forgot-password a {
    text-decoration: none;
    color: $c-contactus-btn;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
    color:$c-contactus-btn-hover;
}

.contact-us a {
    color: $c-contactus-btn;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .contact-us a:hover {
    color:$c-contactus-btn-hover;
  }







