<!-- unauthorized.component.html -->
<div class="unauthorized-container">
  <div class="unauthorized-modal">
    <div class="header-bar">
      <span class="dot red"></span>
      <span class="dot yellow"></span>
      <span class="dot green"></span>
    </div>

    <div class="content">
      <img src="assets/images/warning_image.png" alt="Warning Image for Unauthorized Access" class="warning-image">
      <h2 class="warning-title">WARNING !!!</h2>
      <p class="warning-text">
        You are not authorized to access this page.<br>
        Please contact your administrator if you believe this is an error.
      </p>
      <button class="home-btn" (click)="goHome()">Go To Home</button>
    </div>
  </div>
</div>
