<div class="app-page">
    <div class="page-header">
      <span class="page-title">Part Attribute</span>
    </div>
    <div class="form-field">
      <label>Part Attribute</label>
      <mat-form-field appearance="outline" class="custom-textfield">
        <input matInput  class="input-field"
          type="text" [(ngModel)]="attributeName" 
          name="attributeName" 
          placeholder="Enter Part Attribute" />
      </mat-form-field>
      <button class="primary-btn" (click)="submitAttributeForm()">
        Add
      </button>
    </div>
    
    <div class="page-content">
      <div class="card-nc">
        <app-table
        [config]="columns"
        [data]="dataSource"
        [(sort)] = "sortState" 
        [showFilter]="true"
        [showSort]="true"
        (filterChange)="applyFilter($event)"
        (sortChange)="applySort($event)"
        (actionTriggered)="handleAction($event)">
        </app-table>
      </div>
    </div>
  
  <div>
  <mat-paginator 
              [length]="totalRecords" 
              [pageSize]="pageSize" 
              (page)="onPageChange($event)">
          </mat-paginator>
          </div>
  </div>