@import 'src/scss/_base.scss';
.sidebar {
    display:flex;
    flex-direction: column;
    height: calc(100% - 2rem);
    padding: 1rem 0 1rem 0.5rem;
    width: 5rem;
    justify-content: space-between;
    background: $c-white-color;
    color: $c-black-hover;
    border-right: 1px solid $c-border-color;
}

.menu-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .75rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: background 0.3s, color 0.3s;
    margin-top: auto;
    font-size: .75rem;

}
.menu-container {
    display: flex;
    flex-direction: column;
    font-size: .75rem;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .75rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    position: relative;
    transition: background 0.3s, color 0.3s;
}
.menu-label{
    text-align: center;
}
/* Hover Effect */
.menu-item:hover {
    color: $c-black-color;
}

/* Light Opacity Border on Hover */
.menu-item:not(.menu-item--active):hover::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: $c-black-hover;
    opacity: 0.5;
}

/* Active Item */
.menu-item--active {
    color: $c-black-color;
    font-weight: bold;
    position: relative;
    background-color: $c-table-hover-color;
}

/* Active Item Border */
.menu-item--active::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: $c-background-color;
}
