<div class="sidebar">
    <div class="menu-container">
      <ng-container *ngFor="let item of menuItems">
        <ng-container *ngIf="!item.position">
          <span class="menu-item"
                [ngClass]="item === selectedMenu ? 'menu-item--active' : ''"
                (click)="menuClicked(item)">
            <mat-icon class="menu-icon" svgIcon="{{ item.icon }}"></mat-icon>
            <span class="menu-label">{{ item.label }}</span>
          </span>
        </ng-container>
      </ng-container>
    </div>
  
    <div class="menu-bottom">
      <ng-container *ngFor="let item of menuItems">
        <ng-container *ngIf="item.position === 'bottom' && isSettingsVisible(item)">
          <span class="menu-item"
                [ngClass]="item === selectedMenu ? 'menu-item--active' : ''"
                (click)="menuClicked(item)">
            <mat-icon class="menu-icon" svgIcon="{{ item.icon }}"></mat-icon>
            <span class="menu-label">{{ item.label }}</span>
          </span>
        </ng-container>
      </ng-container>
    </div>
  </div>
  