<div class="app-page">
    <div class="page-header">
        <span class="page-title">Cost Calculation</span>
    </div>
    <div class="page-content">
        <div class="card">
            <form [formGroup]="calculateform" class="cost-form">
                <div>Select Part</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Part Type" formControlName="partType">
                              <ng-container *ngFor="let item of partTypes">
                                <mat-option [value]="item">
                                  {{ item.partName }} | {{ item.partNumber }}
                                </mat-option>
                              </ng-container>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div>Select Pricing</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Pricing" formControlName="pricing">
                              <ng-container *ngFor="let price of pricingOptions">
                                <mat-option [value]="price">{{ price }}</mat-option>
                              </ng-container>
                            </mat-select>
                          </mat-form-field>
                    </div>
            </form>
            <div class="dialog-action">
                <button class="primary-btn" (click)="onReset()">Reset</button>
                <button class="primary-btn" (click)="onCreate()">Calculate</button>
            </div>
            <br>
            <br>
            <div class="sub-heading" *ngIf="isCalculated">COSTING</div>
            <app-table [data]="costingList" [config]="COST_CALCULATOR_COLUMNS" *ngIf="isCalculated"></app-table>
            <div class="total-cost-container" *ngIf="isCalculated"><br>
              <div class="total-cost-label">
                  <strong>Total Cost:  </strong>
                  <strong>{{ totalQP }}</strong>
              </div>
          </div>

          </div>
        </div>
    </div>