$base-font-size: 1rem;
$base-border-radius: 0.5rem;

$c-dialog-header-bg: #2F4156;
$c-btn-bg: #2F4156;
$c-tx-border: #2F4156;
$c-login-bg:#cfdef3;
$c-login-btn:#fc3a40;
$c-link:#007BFF;
$c-link-hover:#393992;
$c-default-text: #000000;
$c-text-hover: #00000099;
$c-default-bg: #ffffff;
$c-low-opacity-bg: #f8f8f8;
$c-table-header-bg: #C8D9E6;
$c-tr-hover: #C8D9E62F;
$c-placeholder: #888;
$c-border: #D1D5DB;
$c-btn-hover: darken(#f3f3f351, 10%);
$c-disable-btn:gray;
$c-error: #ff4d4f;
$c-success: #52c41a;
$c-warning: #faad14;



$base-discard-header-radius: 1rem 1rem 0 0;
$box-shadow: 0px 6px 18px #6a749a1f;