$base-font-size: 1rem;
$base-border-radius: 0.5rem;

$c-background-color: #2F4156;
$c-black-color: #000000;
$c-black-hover: #00000099;
$c-white-color: #ffffff;
$c-table-bg: #C8D9E6;
$c-table-hover-color: #C8D9E62F;
$c-placeholder-color: #888;
$c-border-color: #D1D5DB;
$c-btn-hover-tertiary: darken(#f3f3f351, 10%);
$c-green-hover-color: #95D2B3;
$c-red-hover-color: #f44336;



$base-discard-header-radius: 1rem 1rem 0 0;
$box-shadow: 0px 6px 18px #6a749a1f;