<div class="app-page">
    <div class="page-header">
        <span class="page-title">{{ partId ? 'Edit Part' : 'Create Part' }}</span>
        <div class="dialog-action">
            <button class="primary-btn" [disabled]="partForm.invalid" (click)="onSubmit()">
              {{ partId ? 'Update' : 'Create' }}
            </button>
          </div>
    </div>
    <div class="page-content">
        <div class="card part-form-container">
            <div [formGroup]="partForm">
                <!-- Part Details Section-->
                <div class="sub-heading">Part Details</div>
                <div class="part-form">
                    <div>Part Number</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Enter Part Number" formControlName="partNumber">
                        </mat-form-field>
                    </div>
                    <div>Part Name</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Enter Name" formControlName="partName">
                        </mat-form-field>
                    </div>
                    <div>Type</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Part Type" formControlName="partType">
                                <ng-container *ngFor="let item of partTypes">
                                    <mat-option [value]="item">{{item}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>Category</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Part Category" formControlName="categoryId">
                                <ng-container *ngFor="let item of partCategories">
                                    <mat-option [value]="item">{{item}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>Unit</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Part Unit" formControlName="partUnit">
                                <ng-container *ngFor="let item of partUnits">
                                    <mat-option [value]="item">{{item}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>  
            </div>
            <hr>
            <div [formGroup]="costDetailsForm">
                <!-- Cost Section-->
                 <div formArrayName="costFactors">
                    <div class="sub-heading"> Cost Details </div>
                    <div class="cost-form">
                        <div>Vendor</div>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select vendor" [(value)]="selectedVendor">
                                <ng-container *ngFor="let item of vendorList">
                                    <mat-option [value]="item">{{item.name}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <button class="primary-btn" (click)="addVendor()">Add</button>
                    </div>
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel *ngFor="let vendor of vendorCostMap.keys(); let i=index">
                          <mat-expansion-panel-header>
                            <mat-panel-title> Vendor {{i+1}} </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="vendor-panel-content">
                            <div class="cost-form">
                                <div>Cost Factor</div>
                                <mat-form-field appearance="outline">
                                    <mat-select placeholder="Select Cost Factor" [formControlName]="i">
                                        <ng-container *ngFor="let item of costFactorList">
                                            <mat-option [value]="item">{{item.name}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                                <button class="primary-btn" (click)="addCostFactor(i,vendor)">Add</button>
                              </div>
                              <div>
                                <app-table *ngIf="(vendorCostMap.get(vendor) || []).length > 0" [data]="vendorCostMap.get(vendor) || []" [config]="COST_FACTOR_TABLE_COLUMNS"></app-table>
                              </div>
                          </div>
                        </mat-expansion-panel>
                    </mat-accordion> 
                    <!-- <hr>
                    <div *ngFor="let vendor of vendorCostMap.keys(); let i=index">
                        <div class="cost-form">
                            <div>Cost Factor</div>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select Cost Factor" [formControlName]="i">
                                    <ng-container *ngFor="let item of partUnits">
                                        <mat-option [value]="item">{{item}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <button class="primary-btn" (click)="addCostFactor(i,vendor)">Add</button>
                        </div>
                        <div>
                            <app-table [data]="vendorCostMap.get(vendor) || []" [config]="COST_FACTOR_TABLE_COLUMNS"></app-table>
                        </div>
                    </div> -->
                    </div>
            </div>
            <hr>
            <!-- <div [formGroup]="bomDetailsForm">
              <div class="sub-heading">BOM Details</div>
              <div class="bom-form">
                <div>Unit Part</div>
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Select Unit Part" [(value)]="selectedPart">
                    <ng-container *ngFor="let part of filteredPartList">
                      <mat-option [value]="part">{{ part.partName }}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <button class="primary-btn" (click)="addUnitPart()">Add</button>
              </div>
            
              <div *ngIf="unitPartList.length > 0">
                <div class="sub-heading">Added Unit Parts</div>
                <app-table [data]="unitPartList" [config]="COST_FACTOR_TABLE_COLUMNS"></app-table>
              </div>
            </div> -->

            <div [formGroup]="bomDetailsForm">
                <div class="sub-heading">BOM Details</div>
                <button mat-button (click)="openBomDialog()">Select Parts</button>
                
                
              <div *ngIf="bomPartList.length > 0">
                <div class="sub-heading">Added Unit Parts</div>
                <app-table [data]="bomPartList" [config]="BOM_TABLE_COLUMNS"></app-table>
              </div>
              
        </div>
    </div>
</div>
