<div class="app-page">
    <div class="page-header">
        <span class="page-title">{{ partId ? 'Edit Part' : 'Create Part' }}</span>
        <div class="dialog-action">
            <button class="primary-btn" (click)="onSubmit()">
              {{ partId ? 'Update' : 'Create' }}
            </button>
          </div>
    </div>
    <div class="page-content">
        <div class="card part-form-container">
            <div [formGroup]="partForm">
                <!-- Part Details Section-->
                <div class="sub-heading">Part Details</div>
                <div class="part-form">
                    <div>Part Number</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Enter Part Number" formControlName="partNumber">
                        </mat-form-field>
                    </div>
                    <div>Part Name</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Enter Name" formControlName="partName">
                        </mat-form-field>
                    </div>
                    <div>Type</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Part Type" formControlName="partType">
                                <ng-container *ngFor="let item of partTypes">
                                    <mat-option [value]="item">{{item}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>Category</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Part Category" formControlName="categoryId">
                                <ng-container *ngFor="let category of partCategories">
                                    <mat-option [value]="category.id">{{category.name}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>Unit</div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select Part Unit" formControlName="partUnit">
                                <ng-container *ngFor="let item of partUnits">
                                    <mat-option [value]="item">{{item}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>  
            </div>
            <div *ngIf="partForm.get('partType')?.value === partTypeEnum.UNIT" [formGroup]="costDetailsForm">
                <hr>
                <!-- Cost Section-->
                 <div formArrayName="costFactors">
                    <div class="sub-heading"> Cost Details </div>
                    <div class="cost-form">
                        <div>Vendor</div>
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Select vendor" [(value)]="selectedVendor">
                                <ng-container *ngFor="let item of vendorList">
                                    <mat-option [value]="item">{{item.name}}</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <button class="primary-btn" (click)="addVendor(selectedVendor)">Add</button>
                    </div>
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel *ngFor="let vendor of vendorCostMap.keys(); let i=index">
                          <mat-expansion-panel-header>
                            <mat-panel-title> Vendor {{i+1}}: {{ getVendorName(vendor) }}  </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon class="icon-btn" svgIcon="delete" (click)="deleteVendorFromMap(vendor)"> </mat-icon>
                              </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div class="vendor-panel-content">
                            <div class="cost-form">
                                <div>Cost Factor</div>
                                <mat-form-field appearance="outline">
                                    <mat-select placeholder="Select Cost Factor" [formControlName]="i">
                                        <ng-container *ngFor="let item of costFactorList">
                                            <mat-option [value]="item">{{item.name}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                                <button class="primary-btn" (click)="addCostFactorFromFieldValue(i,vendor)">Add</button>
                              </div>
                              <div>
                                <app-table *ngIf="(vendorCostMap.get(vendor) || []).length > 0" [data]="vendorCostMap.get(vendor) || []" [config]="COST_FACTOR_TABLE_COLUMNS" (actionTriggered)="handleAction($event, vendor)"></app-table>
                              </div>
                          </div>
                        </mat-expansion-panel>
                    </mat-accordion> 
                    <!-- <hr>
                    <div *ngFor="let vendor of vendorCostMap.keys(); let i=index">
                        <div class="cost-form">
                            <div>Cost Factor</div>
                            <mat-form-field appearance="outline">
                                <mat-select placeholder="Select Cost Factor" [formControlName]="i">
                                    <ng-container *ngFor="let item of partUnits">
                                        <mat-option [value]="item">{{item}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <button class="primary-btn" (click)="addCostFactor(i,vendor)">Add</button>
                        </div>
                        <div>
                            <app-table [data]="vendorCostMap.get(vendor) || []" [config]="COST_FACTOR_TABLE_COLUMNS"></app-table>
                        </div>
                    </div> -->
                    </div>
            </div>
<div class="file-upload p-4 border rounded">

<div class="upload-dropzone"
     [class.dragover]="isDragOver"
     (drop)="handleDrop($event)"
     (dragover)="allowDrop($event)"
     (dragleave)="dragLeave($event)">
  Drag & drop files here or 
  <label class="primary-btn" style="margin-bottom:0; cursor:pointer;">
    Choose Files
    <input type="file" multiple (change)="onFilesSelected($event)" style="display:none;" />
  </label>
</div>

<div class="file-preview-list">
  <div *ngFor="let file of selectedFiles; let i = index" class="file-preview">
    <ng-container [ngSwitch]="getFileType(file)">
      
      <!-- Image Preview -->
      <img *ngSwitchCase="'image'" class="thumb-img" />

      <!-- PDF Icon -->
      <img *ngSwitchCase="'pdf'" src="assets\icons\pdf-icon.png" class="file-icon" />

      <!-- Word Icon -->
      <img *ngSwitchCase="'word'" src="assets\icons\word-icon.png" class="file-icon" />

      <!-- Excel Icon -->
      <img *ngSwitchCase="'excel'" src="assets\icons\excel-icon.png" class="file-icon" />

      <!-- Default Icon -->
      <img *ngSwitchDefault src="assets\icons\file-icon.png" class="file-icon" />
    </ng-container>

    <div class="file-name">{{ file.name }}</div>

    <button class="remove-btn" (click)="removeFile(i)">✕</button>
  </div>
</div>


  </div>
</div>


            <div *ngIf="partForm.get('partType')?.value === partTypeEnum.MASTER" [formGroup]="bomDetailsForm">
                <hr>
                <div class="sub-heading">BOM Details</div>
                <button class="primary-btn" (click)="openBomDialog()">Select Parts</button>
                
                
              <div *ngIf="bomPartList.length > 0">
                <br>
                <div class="sub-heading">Added Unit Parts</div>
                <app-table [data]="bomPartList" [config]="BOM_TABLE_COLUMNS"></app-table>
              </div>
              
        </div>
    </div>
</div>
